/*
#
# 	Filename: app.css (compiled from app.scss, SASS markup.)
# 	Version: 0.1.0
#
# 	Description: Main stylesheet
# 	Author: Tedy Warsitha
# 	Web: http://codeorig.in/
#
*/

// MIXINS
	$col: 100/12;

	$d: black;
	$l: white;

// END MIXINS

// ESSENTIAL

html, body {
	font-size:14px;
	line-height:1.5;
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	padding: 0;
	margin: 0;
}

body.top-bar {
	margin-top:45px;
}

*, :before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// END ESSENTIAL

// TYPOGRAPHY

h1,h2,h3,h4,h5,h6 {
	//text-transform: uppercase;
	//letter-spacing: 0.2em;
	//margin-right:-0.2em;
	font-weight:200;
}

h1 { font-size:2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }

.right {
	text-align:right;
}

// END TYPOGRAPHY

// HEADER

.site-header {
	width:100%;
	background:$l;
	position: fixed;
	line-height:45px;
	top:0;
	left:0;
	z-index: 100;

	.menu {
		list-style-type: none;
		margin: 0;
		padding:0;
	}

	.menu-item {
		display: inline-block;
	}

	@media all and (max-width: 768px) {
		height:45px;
		overflow: hidden;

		&.open {
			height:auto;
		}

		.menu-item {
			display: block;
			text-align: center;
		}	
	}

}

.site-title {
	//letter-spacing:0.2em;
	//text-transform:uppercase;
}

.toggle {
	float:right;
	display:none;
	@media all and (max-width: 768px) {
		display: block;
	}
}

// END HEADER

// CONTAINERS
.row {
	margin:0 auto;
	width: 100%;
	max-width: 1140px;
	position: relative;

}

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0 -15px;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
clear: both;
}

.columns {
	float: left;
	min-height: 1px;
	padding: 0 15px;
	position: relative;
}

.twelve.columns { width: $col*12% }
.eleven.columns { width: $col*11% }
.ten.columns 	{ width: $col*10% }
.nine.columns 	{ width: $col*9% }
.eight.columns 	{ width: $col*8% }
.seven.columns 	{ width: $col*7% }
.six.columns 	{ width: $col*6% }
.five.columns 	{ width: $col*5% }
.four.columns 	{ width: $col*4% }
.three.columns 	{ width: $col*3% }
.two.columns 	{ width: $col*2% }
.one.columns 	{ width: $col*1% }

@media all and (max-width: 768px) {
	.columns { 
		width:auto!important;
		float:none;
	}
}

// END CONTAINERS

// FOOTER
// END FOOTER